@tailwind base;
@tailwind components;
@tailwind utilities;

html{
	font-weight: 400;
	font-size: 0.9rem;
	height: 100%;

}
body{
	@apply bg-gradient-to-tr dark:from-gray-900 dark:to-black dark:text-neutral-100;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}